*.iml
*.ipr
*.iws
target/
/var
/*/var/
/presto-product-tests/**/var/
pom.xml.versionsBackup
test-output/
test-reports/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
benchmark_outputs
*.pyc
*.class
.checkstyle
.mvn/timing.properties
.editorconfig
node_modules
