#####################################################################
### Presto code owners                                            ###
#####################################################################

#####################################################################
# Fallback to committers group for areas that do not have active code owners
/** @prestodb/committers

#####################################################################
# The below projects do not have a dedicated code owner for the entire module
/presto-accumulo @prestodb/committers
/presto-analyzer @prestodb/committers
/presto-atop @prestodb/committers
/presto-base-jdbc @prestodb/committers
/presto-benchmark @prestodb/committers
/presto-benchmark-driver @prestodb/committers
/presto-benchmark-runner @prestodb/committers
/presto-benchto-benchmarks @prestodb/committers
/presto-bigquery @prestodb/committers
/presto-blackhole @prestodb/committers
/presto-bytecode @prestodb/committers
/presto-cache @prestodb/committers
/presto-cassandra @prestodb/committers
/presto-cli @prestodb/committers
/presto-clickhouse @prestodb/committers
/presto-client @prestodb/committers
/presto-cluster-ttl-providers @prestodb/committers
/presto-common @prestodb/committers
/presto-delta @prestodb/committers
/presto-druid @prestodb/committers
/presto-elasticsearch @prestodb/committers
/presto-example-http @prestodb/committers
/presto-expressions @prestodb/committers
/presto-function-namespace-managers @prestodb/committers
/presto-geospatial-toolkit @prestodb/committers
/presto-google-sheets @prestodb/committers
/presto-grpc-api @prestodb/committers
/presto-grpc-testing-udf-server @prestodb/committers
/presto-hana @prestodb/committers
/presto-hive @prestodb/committers
/presto-hive-common @prestodb/committers
/presto-hive-function-namespace @prestodb/committers
/presto-hive-hadoop2 @prestodb/committers
/presto-hive-metastore @prestodb/committers
/presto-i18n-functions @prestodb/committers
/presto-jdbc @prestodb/committers
/presto-jmx @prestodb/committers
/presto-kafka @prestodb/committers
/presto-kudu @prestodb/committers
/presto-lark-sheets @prestodb/committers
/presto-local-file @prestodb/committers
/presto-main @prestodb/committers
/presto-main-base @prestodb/committers
/presto-matching @prestodb/committers
/presto-memory @prestodb/committers
/presto-memory-context @prestodb/committers
/presto-ml @prestodb/committers
/presto-mongodb @prestodb/committers
/presto-mysql @prestodb/committers
/presto-node-ttl-fetchers @prestodb/committers
/presto-open-telemetry @prestodb/committers
/presto-oracle @prestodb/committers
/presto-parser @prestodb/committers
/presto-password-authenticators @prestodb/committers
/presto-pinot @prestodb/committers
/presto-pinot-toolkit @prestodb/committers
/presto-plugin-toolkit @prestodb/committers
/presto-postgresql @prestodb/committers
/presto-product-tests @prestodb/committers
/presto-prometheus @prestodb/committers
/presto-proxy @prestodb/committers
/presto-rcfile @prestodb/committers
/presto-record-decoder @prestodb/committers
/presto-redis @prestodb/committers
/presto-redshift @prestodb/committers
/presto-resource-group-managers @prestodb/committers
/presto-router @prestodb/committers
/presto-server @prestodb/committers
/presto-session-property-managers-common @prestodb/committers
/presto-file-session-property-manager @prestodb/committers
/presto-db-session-property-manager @prestodb/committers
/presto-singlestore @prestodb/committers
/presto-spi @prestodb/committers
/presto-sqlserver @prestodb/committers
/presto-teradata-functions @prestodb/committers
/presto-test-coverage @prestodb/committers
/presto-testing-docker @prestodb/committers
/presto-testing-server-launcher @prestodb/committers
/presto-testng-services @prestodb/committers
/presto-thrift-api @prestodb/committers
/presto-thrift-connector @prestodb/committers
/presto-thrift-spec @prestodb/committers
/presto-thrift-testing-server @prestodb/committers
/presto-thrift-testing-udf-server @prestodb/committers
/presto-tpcds @prestodb/committers
/presto-tpch @prestodb/committers
/presto-verifier @prestodb/committers

# TSC may approve changes to this list
CODEOWNERS @prestodb/team-tsc

#####################################################################
# Presto core

# Presto analyzer and optimizer
/presto-main-base/src/*/java/com/facebook/presto/sql @jaystarshot @feilong-liu @ClarenceThreepwood @prestodb/committers

# Presto cost based optimizer framework
/presto-main-base/src/*/java/com/facebook/presto/cost @jaystarshot @feilong-liu @ClarenceThreepwood @prestodb/committers

# Testing module
# Note: all code owners in Presto core should be included here as well
/presto-tests @jaystarshot @feilong-liu @elharo @ClarenceThreepwood @prestodb/committers

#####################################################################
# Prestissimo module
/presto-native-execution @prestodb/team-velox @prestodb/committers
/presto-native-sidecar-plugin @pdabre12 @prestodb/team-velox @prestodb/committers
/presto-native-tests @prestodb/team-velox @prestodb/committers
/presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java  @prestodb/team-velox @prestodb/committers
/.github/workflows/prestocpp-* @prestodb/team-velox @prestodb/committers

#####################################################################
# Presto on Spark module
/presto-spark* @shrinidhijoshi @prestodb/committers
/presto-native-execution/*/com/facebook/presto/spark/* @shrinidhijoshi @prestodb/committers

#####################################################################
# Presto connectors and plugins

# Hudi connector
/presto-hudi @vinothchandar @7c00 @prestodb/committers

# Iceberg connector
/presto-iceberg @hantangwangd @ZacBlanco @prestodb/committers

# Ranger Hive plugin
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers

# Redis history based optimizer plugin
/redis-hbo-provider @jaystarshot @prestodb/committers

#####################################################################
# Presto modules and libraries

# Parquet reader module
/presto-parquet @shangxinli @prestodb/committers

# ORC reader module
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/src/*/java/com/facebook/presto/hive/orc @sdruzkin @prestodb/committers

# Presto common module
/presto-common @elharo @prestodb/committers

#####################################################################
# Presto Console UI
/presto-ui @yhwang @prestodb/committers

#####################################################################
# Presto documentation
/presto-docs @steveburnett @elharo @prestodb/committers
/**/*.md @steveburnett @prestodb/committers
/presto-docs/src/**/connector/iceberg.rst @steveburnett @elharo @hantangwangd @ZacBlanco @prestodb/committers

#####################################################################
# Presto CI and builds
/.github @czentgr @unidevel @prestodb/committers
/docker @czentgr @unidevel @prestodb/committers
