#####################################################################
### Presto code owners                                            ###
#####################################################################

#####################################################################
# Fallback to committers group for areas that do not have code owners
/** @prestodb/committers

#####################################################################
# Presto core

# Presto analyzer and optimizer
/presto-main/src/*/java/com/facebook/presto/sql @jaystarshot @prestodb/committers

# Presto cost based optimizer framework
/presto-main/src/*/java/com/facebook/presto/cost @jaystarshot @prestodb/committers

#####################################################################
# Prestissimo module
/presto-native-execution @prestodb/team-velox

#####################################################################
# Presto on Spark module
/presto-spark* @shrinidhijoshi @prestodb/committers

#####################################################################
# Presto connectors and plugins

# Hudi connector
/presto-hudi @vinothchandar @7c00 @prestodb/committers

# Ranger Hive plugin
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers

# Redis history based optimizer plugin
/redis-hbo-provider @jaystarshot @prestodb/committers

#####################################################################
# Presto modules and libraries

# Parquet reader module
/presto-parquet @shangxinli @prestodb/committers

# ORC reader module
/presto-orc @sdruzkin @prestodb/committers

#####################################################################
# Presto Console UI
/presto-main/src/main/resources/webapp/* @yhwang @prestodb/committers

#####################################################################
# Presto documentation
/presto-docs @steveburnett @prestodb/committers
/**/*.md @steveburnett @prestodb/committers
