generateScanReport=true
wss.url=https://ibmets.whitesourcesoftware.com/agent
updateInventory=true
scanReportFilenameFormat=project_only
excludes=**/.*,**/node_modules,**/src/test,**/testdata,**/*sources.jar,**/*javadoc.jar,**/presto-raptor/**,**/presto-docs/**,**/presto-native-execution/src/**,**/presto-native-execution/scripts/**,**/presto-native-execution/presto-cpp/docs/**,**/presto-native-execution/velox/**
