excludes=**/.*,  **/node_modules, **/src/test, **/testdata, **/*sources.jar, **/*javadoc.jar, **/presto-raptor/**, **/presto-docs/**
maven.additionalArguments= -pl !presto-test-coverage,!presto-product-tests,!presto-testing-docker,!presto-testng-services,!presto-benchmark,!presto-benchmark-driver,!presto-benchmark-runner,!presto-benchto-benchmarks,!presto-tests
