#
# WARNING
# ^^^^^^^
# This configuration file is for development only and should NOT be used
# in production. For example configuration, see the Presto documentation.
#

-server
-Xmx2G
-XX:-UseBiasedLocking
# Disable G1 to enable UseGCOverheadLimit (JDK-8212084) and reduce JVM's memory footprint
-XX:-UseG1GC
-XX:+ExitOnOutOfMemoryError
-XX:+UseGCOverheadLimit
-XX:+HeapDumpOnOutOfMemoryError
-XX:ReservedCodeCacheSize=150M
-Djdk.attach.allowAttachSelf=true
# jdk.nio.maxCachedBufferSize controls what buffers can be allocated in per-thread "temporary buffer cache" (sun.nio.ch.Util). Value of 0 disables the cache.
-Djdk.nio.maxCachedBufferSize=0
-DHADOOP_USER_NAME=hive
-Duser.timezone=Asia/Kathmandu
#-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
-XX:ErrorFile=/docker/volumes/logs/product-tests-presto-jvm-error-file.log
