<h2><a href="poweredby/">Powered By Presto</a></h2>

<p><a href="poweredby/">Read more</a> about how these companies and others use Presto at scale:</p>

<div class="poweredByLogos">
  <div class="poweredByLogo">
    <span class="logoSpan" style="background-image:url(static/images/poweredby/facebook.png)" alt="Facebook" />
  </div><div class="poweredByLogo">
    <span class="logoSpan" style="background-image:url(static/images/poweredby/airbnb.png)" alt="Airbnb" />
  </div><div class="poweredByLogo">
    <span class="logoSpan" style="background-image:url(static/images/poweredby/dropbox.png)" alt="Dropbox" />
  </div><div class="poweredByLogo">
    <span class="logoSpan" style="background-image:url(static/images/poweredby/netflix.png)" alt="Netflix" />
  </div>
</div>