[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = California
L = San Francisco
O = Presto
OU = Coordinator
CN = localhost

[v3_req]
basicConstraints = CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth,clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = coordinator
DNS.3 = *.local
IP.1 = 127.0.0.1
IP.2 = 0.0.0.0
IP.3 = ::1
IP.4 = ::
