/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#pragma once

{{! Select all the comment items and expand them here }}
{{#.}}
{{#comment}}
{{comment}}
{{/comment}}
{{/.}}

#include "presto_cpp/main/thrift/gen-cpp2/PrestoThrift.h"
#include "presto_cpp/presto_protocol/presto_protocol.h"

namespace facebook::presto {

{{! Select all the items and expand either the "hinc" member or the "struct", "enum" members }}
{{#.}}
{{#hinc}}
{{&hinc}}
{{/hinc}}
{{^hinc}}
{{#struct}}
void toThrift(const protocol::{{class_name}}& proto, thrift::{{class_name}}& thrift);
{{/struct}}
{{#enum}}
void toThrift(protocol::{{class_name}}& proto, thrift::{{class_name}}& thrift);
{{/enum}}
{{/hinc}}
{{/.}}

} // namespace facebook::presto
