version: '2'
services:

  presto-master:
    image: 'teradatalabs/centos6-java8-oracle-ldap:${DOCKER_IMAGES_VERSION}'
    command: /docker/volumes/conf/docker/files/presto-launcher-wrapper.sh singlenode-ldap run
    extra_hosts:
       - "${LDAP_SERVER_HOST}:${LDAP_SERVER_IP}"

  application-runner:
    image: 'teradatalabs/centos6-java8-oracle-ldap:${DOCKER_IMAGES_VERSION}'

  ldapserver:
    image: 'teradatalabs/centos6-java8-oracle-openldap:${DOCKER_IMAGES_VERSION}'
