-server
-Djdk.nio.maxCachedBufferSize=262144
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.port=9015
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Xmx16G
-XX:+UseG1GC
-XX:+AggressiveOpts
-XX:ReservedCodeCacheSize=600M
