<div class="row">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">{{::environmentName}}</li>
    </ol>
</div>
<div ng-if="!latestBenchmarkRuns">
    <img class="progress-image" src="img/ajax-loader.gif" alt="Loading"/>
</div>
<table datatable="ng" data-page-length='100' dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstanceCallback" class="table table-striped table-bordered" ng-if="latestBenchmarkRuns">
    <thead>
    <tr>
        <th><i class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" title="Compare cart items"></i></th>
        <th>Unique name</th>
        <th>Name</th>
        <th>Status</th>
        <th ng-repeat="variable in ::availableVariables">
            {{::variable.name | capitalize}}
        </th>
        <th>Started</th>
        <th>Mean duration</th>
    </tr>
    </thead>
    <tr ng-repeat="benchmarkRun in ::latestBenchmarkRuns">
        <td><input type="checkbox" ng-model="benchmarkRun.addedToCompare" ng-change="addedToCompareChanged(benchmarkRun)"/></td>
        <td>{{benchmarkRun.uniqueName}}</td>
        <td>
            <span data-toggle="tooltip" title="{{benchmarkRun.uniqueName}}">
                <strong><a ng-href="#/benchmark/{{benchmarkRun.uniqueName}}?environment={{benchmarkRun.environment.name}}">{{benchmarkRun.name}}</a></strong>
                (<a ng-href="#/benchmark/{{benchmarkRun.uniqueName}}/{{benchmarkRun.sequenceId}}">{{benchmarkRun.sequenceId}}</a>)
            </span>
        </td>
        <td><span class="execution-status execution-status-{{::benchmarkRun.status}}">{{benchmarkRun.status}}</span></td>
        <td ng-repeat="variable in ::availableVariables">
            {{benchmarkRun.variables[variable.name]}}
        </td>
        <td>{{benchmarkRun.started | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
            <span ng-if="benchmarkRun.executionsMeanDuration > 0">
                <strong>{{benchmarkRun.executionsMeanDuration | duration}}</strong> &#177; {{benchmarkRun.executionStdDevDuration | duration}}
            </span>
        </td>
    </tr>
</table>
