# Copyright (c) Facebook, Inc. and its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: Build & Push Docker Images

on:
  pull_request:
  push:
    branches: [main]
    paths:
      - scripts/*.dockfile
      - scripts/*.dockerfile
      - scripts/setup-*.sh
      - .github/workflows/docker.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: actions/checkout@v3

      - name: Build and Push check
        uses: docker/build-push-action@v3
        with:
          context: scripts
          file: scripts/check-container.dockfile
          build-args: cpu_target=avx
          push: ${{ github.repository == 'facebookincubator/velox' && github.event != 'pull_request'}}
          tags: ghcr.io/facebookincubator/velox-dev:check-avx

      - name: Build and Push circle-ci
        uses: docker/build-push-action@v3
        with:
          context: scripts
          file: scripts/circleci-container.dockfile
          build-args: cpu_target=avx
          push: ${{ github.repository == 'facebookincubator/velox' && github.event != 'pull_request'}}
          tags: ghcr.io/facebookincubator/velox-dev:circleci-avx

      - name: Build and Push velox-torcharrow
        uses: docker/build-push-action@v3
        with:
          context: scripts
          file: scripts/velox-torcharrow-container.dockfile
          build-args: cpu_target=avx
          push: ${{ github.repository == 'facebookincubator/velox' && github.event != 'pull_request'}}
          tags: ghcr.io/facebookincubator/velox-dev:torcharrow-avx

      - name: Build and Push dev-image
        uses: docker/build-push-action@v3
        with:
          file: scripts/ubuntu-22.04-cpp.dockerfile
          push: ${{ github.repository == 'facebookincubator/velox' && github.event != 'pull_request'}}
          tags: ghcr.io/facebookincubator/velox-dev:amd64-ubuntu-22.04-avx
