name: prestocpp-linux-container-tests

permissions:
  contents: read

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - presto-native-execution/**
      - presto-native-sidecar-plugin/**
      - .github/workflows/prestocpp-linux-container-tests.yml

env:
  CONTINUOUS_INTEGRATION: true
  DOCKER_BUILDKIT: 1
  MAVEN_OPTS: -Xmx2G -XX:+ExitOnOutOfMemoryError
  MAVEN_FAST_INSTALL: -B -V -T 1C -DskipTests -Dair.check.skip-all --no-transfer-progress -Dmaven.javadoc.skip=true
  MAVEN_TEST: -B -Dair.check.skip-all -Dmaven.javadoc.skip=true --no-transfer-progress --fail-at-end

# -----------------------------
# Job 1: Build worker image
# -----------------------------
jobs:
  build-worker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Free base disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache
          docker system prune -af
          df -h

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Update velox
        run: |
          cd presto-native-execution
          make velox-submodule

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.1

      - name: Build worker image
        env:
          DOCKER_BUILDKIT: 1
        run: |
          ./mvnw install ${MAVEN_FAST_INSTALL} \
            -Pdocker-build \
            -Denable.docker.build.worker=true \
            -pl '!:presto-product-tests,!:presto-router,!:presto-docs,!:presto-verifier,!:presto-test-coverage'

      - name: Save Docker image
        run: |
          docker save presto-worker:latest -o presto-worker.tar          

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: presto-worker
          retention-days: 1
          path: presto-worker.tar


  # -----------------------------
  # Job 2: Build coordinator image
  # -----------------------------
  build-coordinator-image:
    runs-on: ubuntu-latest
    needs: build-worker-image
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Free base disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache
          docker system prune -af
          df -h

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Update velox
        run: |
          cd presto-native-execution
          make velox-submodule

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.1

      - name: Build coordinator image
        env:
          DOCKER_BUILDKIT: 1
        run: |
          ./mvnw install ${MAVEN_FAST_INSTALL} \
            -Pdocker-build \
            -Denable.docker.build.coordinator=true \
            -pl '!:presto-product-tests,!:presto-router,!:presto-docs,!:presto-verifier,!:presto-test-coverage'

      - name: Save Docker image
        run: |
          docker save presto-coordinator:latest -o presto-coordinator.tar          

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: presto-coordinator
          retention-days: 1
          path: presto-coordinator.tar

  # -----------------------------
  # Job 3: Run container tests
  # -----------------------------
  run-container-tests:
    runs-on: ubuntu-latest
    needs: build-coordinator-image
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Free base disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache
          docker system prune -af --volumes
          df -h

      - name: Download worker image
        uses: actions/download-artifact@v4
        with:
          name: presto-worker

      - name: Download coordinator image
        uses: actions/download-artifact@v4
        with:
          name: presto-coordinator

      - name: Load Docker images
        run: |
          docker load -i "presto-coordinator:latest/presto-coordinator.tar"
          docker load -i "presto-worker:latest/presto-worker.tar"

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Run presto-native container tests
        run: |
          export PRESTO_SERVER_PATH="${GITHUB_WORKSPACE}/presto-native-execution/_build/release/presto_cpp/main/presto_server"
          export TESTFILES=$(find ./presto-native-execution/src/test -type f -name 'TestPrestoContainer*.java')
          TESTCLASSES=$(echo "$TESTFILES" | sed 's|.*/||; s|\.java||' | paste -sd, -)
          echo "TESTCLASSES=$TESTCLASSES"

          mvn test \
            ${MAVEN_TEST} \
            -pl presto-native-execution \
            -Dtest="$TESTCLASSES" \
            -DPRESTO_SERVER="$PRESTO_SERVER_PATH" \
            -DDATA_DIR="$RUNNER_TEMP" \
            -Duser.timezone=America/Bahia_Banderas
