name: test native

on:
  pull_request:

env:
  MAVEN_OPTS: "-Xmx1024M -XX:+ExitOnOutOfMemoryError"
  MAVEN_INSTALL_OPTS: "-Xmx2G -XX:+ExitOnOutOfMemoryError"
  MAVEN_FAST_INSTALL: "-B -V --quiet -T C1 -DskipTests -Dair.check.skip-all -Dmaven.javadoc.skip=true"
  MAVEN_TEST: "-B -Dair.check.skip-all -Dmaven.javadoc.skip=true -DLogTestDurationListener.enabled=true --fail-at-end"

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: prestocpp/prestocpp-circleci:mikesh-20220331

    env:
      CC: /opt/rh/gcc-toolset-9/root/bin/gcc
      CXX: /opt/rh/gcc-toolset-9/root/bin/g++

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Get date for ccache
        id: get-date
        run: |
          echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
        shell: bash

      - name: Setup ccache cache
        id: presto_cpp_ccache
        uses: actions/cache@v3
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-presto-native-ccache-${{ steps.get-date.outputs.date }}
          restore-keys: |
            ${{ runner.os }}-presto-native-ccache-

      - name: Initialize ccache
        if: steps.presto_cpp_ccache.outputs.cache-hit != 'true'
        run: ccache -sz -M 6Gi

      - name: Build presto_cpp
        run: |
          source /opt/rh/gcc-toolset-9/enable
          cd ${GITHUB_WORKSPACE}/presto-native-execution
          make velox-submodule
          cmake -B _build/debug -GNinja -DTREAT_WARNINGS_AS_ERRORS=1 -DENABLE_ALL_WARNINGS=1 -DCMAKE_BUILD_TYPE=Debug -DCMAKE_PREFIX_PATH=/usr/local -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          ninja -C _build/debug -j 1
          ccache -s

      - name: Run unit tests
        run: |
          cd ${GITHUB_WORKSPACE}/presto-native-execution/_build/debug
          ctest -j 1 -VV --output-on-failure --exclude-regex velox.*

      - name: Cache local Maven repository
        id: cache-maven
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-2-

      - name: Populate maven cache
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: mvn de.qaware.maven:go-offline-maven-plugin:resolve-dependencies

      - name: Install presto-hive
        run: |
          export MAVEN_OPTS="${MAVEN_INSTALL_OPTS}"
          mvn install ${MAVEN_FAST_INSTALL} -am -pl presto-hive

      - name: Run e2e tests
        run: mvn test ${MAVEN_TEST} -pl 'presto-native-execution' -DPRESTO_SERVER=${GITHUB_WORKSPACE}/presto-native-execution/_build/debug/presto_cpp/main/presto_server -DDATA_DIR=/tmp/ -Duser.timezone=America/Bahia_Banderas
