<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>hyc-mpc</id>
            <username>${env.artifactory_user}</username>
            <password>${env.artifactory_token}</password>
        </server>
        <server>
            <id>dataconn</id>
            <username>${env.artifactory_user}</username>
            <password>${env.artifactory_token}</password>
        </server>
        <server>
            <id>airlift</id>
            <username>${env.artifactory_user}</username>
            <password>${env.artifactory_token}</password>
        </server>
        <server>
            <id>maven-repo</id>
            <username>${env.artifactory_user}</username>
            <password>${env.artifactory_token}</password>
        </server>
    </servers>


    <profiles>
        <profile>
            <id>artifactory</id>
            <properties>
                <!-- Distribution Management URLs -->
                <releases-url>
                    https://na.artifactory.swg-devops.com:443/artifactory/hyc-mpc-artifactory-team-generic-local/data-privacy
                </releases-url>
            </properties>
            <repositories>
                <repository>
                    <id>airlift</id>
                    <url>
                        https://na.artifactory.swg-devops.com/artifactory/hyc-cpd-skywalker-team-lakehouse-on-prem-docker-local/airlift
                    </url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>dataconn</id>
                    <url>https://na.artifactory.swg-devops.com:443/artifactory/dataconn-maven-local</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>hyc-mpc</id>
                    <url>
                        https://na.artifactory.swg-devops.com:443/artifactory/hyc-mpc-artifactory-team-generic-local/data-privacy
                    </url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>maven-repo</id>
                    <url>
                        https://na.artifactory.swg-devops.com:443/artifactory/hyc-cpd-skywalker-team-lakehouse-on-prem-wxd-maven-local
                    </url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
